# ─────────────────────────────────────────
#  Base de données PostgreSQL
# ─────────────────────────────────────────
DATABASE_URL=postgresql+asyncpg://student_admin:password@localhost:5432/student_portal
DATABASE_URL_SYNC=postgresql://student_admin:password@localhost:5432/student_portal

# ─────────────────────────────────────────
#  Sécurité JWT
# ─────────────────────────────────────────
SECRET_KEY=changez-moi-avec-openssl-rand-hex-32
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# ─────────────────────────────────────────
#  SMTP — Envoi emails OTP
#  Gmail : activez "Mots de passe d'application"
# ─────────────────────────────────────────
MAIL_USERNAME=votre.email@gmail.com
MAIL_PASSWORD=xxxx-xxxx-xxxx-xxxx
MAIL_FROM=noreply@isi.tn
MAIL_FROM_NAME=ISI Tunis
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com
MAIL_STARTTLS=True
MAIL_SSL_TLS=False
OTP_EXPIRE_MINUTES=10

# ─────────────────────────────────────────
#  Application
# ─────────────────────────────────────────
APP_NAME=Student Portal API
APP_VERSION=1.0.0
DEBUG=False
API_V1_PREFIX=/api/v1

# ─────────────────────────────────────────
#  Compte scolarité admin (créé au démarrage)
# ─────────────────────────────────────────
SCOLARITE_DEFAULT_EMAIL=scolarite@universite.tn
SCOLARITE_DEFAULT_PASSWORD=Admin@2024

# ─────────────────────────────────────────
#  Responsables par niveau (créés au démarrage)
#  Changer les mots de passe avant le déploiement !
# ─────────────────────────────────────────
RESP_INGENIEUR_EMAIL=resp.ingenieur@isi.tn
RESP_INGENIEUR_PASSWORD=Ingenieur@2024
RESP_MASTER_EMAIL=resp.master@isi.tn
RESP_MASTER_PASSWORD=Master@2024
RESP_LICENCE_EMAIL=resp.licence@isi.tn
RESP_LICENCE_PASSWORD=Licence@2024
